
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    font-weight: bold;
    
}

body {
    background: #2a9d8f;
    background: -webkit-linear-gradient(0deg, #2a9d8f 0%, #264653 50%, #000000 100%);
    background: linear-gradient(0deg, #2a9d8f 0%, #264653 50%, #000000 100%);
    margin: 0;
    box-sizing: border-box;
}


button {
    padding: 15px ;
    margin: 2px;
    flex: 1;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    border-color: #e76f51;
    background-color: #e76f51;
    color: #264653;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}


/* container parent */
/* container that centralizes the calculator */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   

    /* add color and style later */
    /* use gradient border line to create a light around*/
}


/* buttons and display two flex items of the parent container */

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    max-width: 300px;
   
box-shadow: 0px 0px 35px 16px rgba(233, 196, 106, 0.49);

    
}

/* the display flex item of our  parent calculator */
.display {
    display: flex;
    height: 80px;
    font-size: 50px;
   
    width: 100%;
    text-align: center;
    color:#f4a261;
    padding: 5px 0px;
    justify-content: flex-end;
    /* add color and style later */
    background-color: #264653;
}

.number0 {
    flex-grow: 3;

}

.displayOP,
.displayNum {

    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 0px;
    max-width: fit-content;
    /* add color and style later */
    

}

/* buttons second flex item of the parent calculator */
.buttons {
    display: flex;
    
    align-items: flex-start;

    /* add color and style later */
    
    background-color: #e9c46a;
}

/* numbers first flex item of the parent buttons */

.numbers {
    display: flex;
    flex-wrap: wrap;
    
    margin: 5px;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;

}

/* a rule that let us wrap after every third flex item */
.wrapping {
    flex-basis: 100%;
}

.operators {
    display: flex;
    flex-direction: column;
    
    margin: 5px;
}

.Copyright{
background-color: #264653;
text-align: center;
font-size: 15px;
padding: 20px;
width: 100%;


}




/* title glitch effect  */


.glitch-wrapper {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.glitch {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color:#f4a261;
    letter-spacing: 5px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #2a9d8f;
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #e76f51;
    z-index: -2;
}

@keyframes glitch-color {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(-3px, -3px);
    }

    60% {
        transform: translate(3px, 3px);
    }

    80% {
        transform: translate(3px, -3px);
    }

    to {
        transform: translate(0);
    }
}



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.calculator {
        margin-left: 40px;
        margin-right: 40px;
        
        
    }
   
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    div.calculator {
        margin-left: 20px;
        margin-right: 20px;
       
    }
   
}

/* ripple effect for buttons */

button::after {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #f4a261;
    
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    
    /* Center the ripple */
    top: 50%;
    left: 50%;
  
    animation: ripple 1s;
    opacity: 0;
  }
  button:focus:not(:active)::after {
    display: block;
  }
  
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(10);
    }
  }